{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block cssOpt %}
	<link rel="stylesheet" href="{% static "css/akun/create.css" %}">
{% endblock cssOpt %}

{% block konten1 %}
	<div class="container" id='userForm'>
		<div class="container">
			<form method='POST'>
				{% csrf_token %}
				{{userForm|crispy}}
				<button type="submit" class="btn btn-outline-primary mb-2">Buat!</button>
			</form>
			<small class="text-muted">Sudah Punya Akun ? | <a href="{% url "akun:login" %}">Login</a></small>
		</div>
	</div>
{% endblock konten1 %}