{% extends "base.html" %}
{% load static %}


{% block cssOpt %}
	<link rel="stylesheet" href="{% static "css/akun/profile.css" %}">
{% endblock cssOpt %}

{% block konten1 %}
	<div class="container profilecontainer">
		{% if settingbutton %}
			<a href="{% url "akun:updateprofile" userProfile.id %}">
			<div class="container setting">
			<small>{{settingbutton}}</small></div></a>
			<div class="clear"></div>
		{% endif %}
		<div class="row mt-4">
			<div class="col-sm-12 text-center">
			<img src="{{userProfile.foto.url}}" alt="" class='profilepicture'>			
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 text-center mt-3">
				<h3>{{userProfile.nama}}</h3>
			</div>
		</div>
		{% if userCoin %}
			<div class="coin">
				<img src="{% static "img/coin.png" %}" alt="">
				<h5>{{userCoin.uang}}</h5>
			</div>
		{% endif %}
		<div class="row text-center">
			<div class="col-sm-12">
				<div class="status text-center">
					<p>{{userProfile.get_user_level_display}}</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 text-center mt-3">
				<p>{{userProfile.deskripsi_kanal}}</p>
			</div>
		</div>
		<hr>
		<div class="row status">
			<div class="col-sm-4">
				<img src="{% static "img/link.png" %}" alt="">
				<h5>Linked</h5>
				<p>1204</p>
			</div>
			<div class="col-sm-4">
				<img src="{% static "img/user.png" %}" alt="">
				<h5>Students</h5>
				<p>5658</p>
			</div>
			<div class="col-sm-4">
				<img src="{% static "img/answer.png" %}" alt="">
				<h5>Answer</h5>
				<p>15000</p>
			</div>
		</div>
	</div>
	<div class="container profileindex text-center">
		<div class="row">
			<div class="col-sm-4">
				<div class="container biodata">
					<h4>Biodata</h4>
					<hr>
					<p>{{userProfile.nama}}</p>
					<p>{{userProfile.bio}}</p>
					<p>{{userProfile.waktu_lahir}}</p>
					<p>{{userProfile.alamat}}</p>
					<p>+62{{userProfile.kontak}}</p>
				</div>
				<div class="container pendidikan">
					<ul>
						<li>SD</li>
						<li>SMP</li>
						<li>SMA</li>
						<li>Kuliah</li>
					</ul>
				</div>
				<div class="container mycourses mt-4">
					<div class="judul">
						<h2>Kursus yang kamu beli</h2>
					</div>
					{% for course in myCourses  %}
					<a href="{% url "graplearn:detailcourse" course.id %}">
						<div class="card text-center">
							<img src="{{course.thumbnail.url}}" alt="">
							<div class="judul">
								<h4>{{course.judul}}</h4>
							</div>
							<div class="card-body">
							<hr>
								<div class="coursestatus">
									<div class="row">
										<div class="col-sm-4">
											<img src="{% static "img/view.png" %}" alt="">
											<p>{{course.view}}</p>
										</div>
										<div class="col-sm-4">
											<img src="{% static "img/like.png" %}" alt="">
											<p>{{course.like}}</p>
										</div>
										<div class="col-sm-4">
											<img src="{% static "img/share.png" %}" alt="">
											<p>{{course.share}}</p>
										</div>
									</div>
								</div>
							<hr>
							<div class="container profile">
								<div class="row">
									<div class="col-sm-6">
										<img src="{{course.user.profile.foto.url}}" alt="">
									</div>
									<div class="col-sm-6">
										<p>{{course.user.profile.nama}}</p>
										<div class="boxlevel">
											<p>{{course.user.profile.get_user_level_display}}</p>
										</div>
									</div>
								</div>
							</div>
							<p>{{course.deskripsi}}</p>
							{% if other %}
								<a href="{% url "akun:akunmethod" 'like' course.id %}"><button class="btn btn-success">Like!</button></a>
							{% endif %}
							</div>
						</div>
					</a>
					{% endfor %}
				</div>
			</div>
			<div class="col-sm-5 usercourse">
				<div class="row text-center">
					<div class="col-sm-12 text-center">
						<div class="container coursesprofile">
							<div class="row">
								{# Bagian jumlah Course #}
								<div class="col-sm-3">
									<img src="{% static "img/course.png" %}" alt="">
									<h5>Course</h5>
									<hr>
									<p>{{jumlahCourse}}</p>
								</div>
								{# Bagian Views #}
								<div class="col-sm-3">
									<img src="{% static "img/view.png" %}" alt="">
									<h5>Viewed</h5>
									<hr>
									<p>52156</p>
								</div>
								{# Bagian Liked #}
								<div class="col-sm-3">
									<img src="{% static "img/like.png" %}" alt="">
									<h5>Liked</h5>
									<hr>
									<p>1204</p>
								</div>
								{# Bagian Shared #}
								<div class="col-sm-3">
									<img src="{% static "img/share.png" %}" alt="">
									<h5>Shared</h5>
									<hr>
									<p>1124</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						{% for course in userCourse %}
							<div class="container course">
								<h1>{{course.judul}}</h1>
								<hr>
								{% if user in users %}
									<a href="{% url "graplearn:addvideocourse" course.id %}"><button class="btn btn-primary">+ Video</button></a>
									<a href="{% url "graplearn:updatecourse" course.id %}"><button class="btn btn-warning">Ubah Deskripsi</button></a>
								{% endif %}
								<div class="row coursedescription">
									<div class="col-sm-4">
										<img src="{{course.thumbnail.url}}" alt="">
									</div>
									<div class="col-sm-8">
										<h5>{{course.kategori}}</h5>
										<p>{{course.deskripsi}}</p>
										<img src="{% static "img/coin.png" %}" alt="">
										<h4>{{course.harga}}</h4>
									</div>
								</div>
								<hr>
								<div class="row courseprofile">
									<div class="col-sm-4">
										<img src="{% static "img/view.png" %}" alt="">
										<h5>Viewed</h5>
										<hr>
										<p>553</p>
										{% if not user %}
											<a href="{% url "akun:akunmethod" 'like' course.id %}"><button class="btn btn-success">Like</button></a>
										{% endif %}
									</div>
									<div class="col-sm-4">
										<img src="{% static "img/like.png" %}" alt="">
										<h5>Like</h5>
										<hr>
										<p>{{course.like}}</p>
									</div>
									<div class="col-sm-4">
										<img src="{% static "img/share.png" %}" alt="">
										<h5>Shared</h5>
										<hr>
										<p>1174</p>
									</div>
								</div>
								<a href="{% url "graplearn:detailcourse" course.id %}" class="mb-4"><button class="btn btn-success">Lihat</button></a>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-sm-3 userposting">
				<div class="container mt-4 headerpostingan"><h6>Postingan</h6></div>
				{% for post in userPost  %}
					<div class="container postingan">
						<div class="container judulpostingan"><h6>{{post.judul}}</h6></div>
						<hr>
						<p>{{post.isi}}</p>
						<div class="status">
							<div class="row">
								<div class="col-sm-6 lovepost">
									<img src="{% static "img/lovepost.png" %}" alt="">
									<small>214 Like</small>
								</div>
								<div class="col-sm-6 comment">
									<img src="{% static "img/comment.png" %}" alt="">
									<small>512 comment</small>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock konten1 %}

{% block scriptsOpt %}
	<script src="{% static "js/akun/profile.js" %}"></script>
{% endblock scriptsOpt %}