{% load static %}

<nav class="navbar navbar-expand-sm navbar-light" style='background-color:#1264AE;border-radius:4px;top:0;left:0;right:0;z-index:999;'>
  <div class="container">
    <a class="navbar-brand" href="{% url "home" %}"><img src="{% static "img\logo.png" %}" alt=""></a>
      <div class="container search-menu">
        <div class="row">
          <div class="col-sm-6">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Mau belajar apa hari ini?" aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>
          </div>
          <div class="col-sm-6">
              <button class="btn btn-success" style="margin-top:10px;">Search</button>
          </div>
        </div>
      </div>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto" style='font-family:Quicksand;'>
      <li class="nav-item active">
        <a class="nav-link" href="{% url "home" %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "graplearn:index" %}">Graplearn</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "grappost:index" %}">Grappost</a>
      </li>
      {% if user.is_authenticated %}
        <li class="nav-item">
        <div class="btn-group">
          <button type="button" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Akun
          </button>
          <div class="dropdown-menu bg-primary">
            <a class="dropdown-item" href="{% url "akun:profile" %}">Profile</a>
            <a class="dropdown-item" href="{% url "akun:logout" %}">Logout</a>
          </div>
        </div>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url "akun:login" %}">Login</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>