body{
	
}

nav div.container{
	position: relative;
}

nav div.form{
	height:50px;
	width:100%;
	margin: auto;
}

nav input{
	float:left;
	margin-top: 10px;
	size:5;
	display: inline-block;
}

nav div.form button{
	display: inline-block;
	float: left;
}

div.header h1{
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: 100px;
	opacity: 1;
	animation: fadeIn 1s;
}
div.header h1:hover{
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: 100px;
	opacity: 1;
	cursor: default;
}

div.wrapper{
	margin-top: -50px;
	width:100%;
	background-image: url(http://127.0.0.1:8000/static/img/background.jpg);
}

div.jumboTagWrapper{
	background-color: green;
	margin-top: 20px;
	border: 1px solid white;
	padding-bottom: 10px;
}


div#jumboTag img{
	margin-top: 50px;
	width:450px;
	border:3px solid white;
	animation: fadeIn 1s;
}

div#jumboTag hr{
	border-width:0.8px;
	border-color: white;
	border-radius:10px;
	width:80%;
	opacity: 0.8;

}

div#jumboTag h2{
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	color:white;
}

nav div#navbarNav ul li a{
	color:white;
}

div.row.beneficial{
	margin: auto;
	width:100%;
	background-color: #1264AE;
	text-align: center;
}

div.row.beneficial img{
	margin:10px;
	width:50px;
	height:50px;
}

div.wrapperarea a{
	text-decoration: none;
	color:inherit;
}

div.wrapperarea div.card div.container.deskripsi{
	margin: auto;
	margin-top: -20px;
	width:100%;
	height:70px;
	overflow: auto;
}

div.row.beneficial h5{
	color:white;
}

@keyframes fadeIn{

	0%{
		transform: rotate(0deg) scale(0, 0);
		opacity: 0;
	}

	100%{
		transform: rotate(360deg) scale(1, 1);
		opacity: 1;
	}

}

div.level{
	width: 100%;
	background-color: white;
	margin:auto;
	text-align: center;
}

div.level div{
	text-align: center;
	margin: auto;
	float: left;
}


/* div.container.trendingcourse{
	padding: 0;
	width:100%px;
	margin:auto;
	text-align: center;
}

div.container.trendingcourse div.container img{
	margin-right: 10px;
	width:100%;
	height: 150px;
	float:left;
} */
div.clear{
	clear: both;
}

div.container.course{
	background-color: red;
}

div.trendingwrapper{
	text-align: center;
}

div.trendingwrapper div.wrapperarea:hover{
	position: relative;
	margin:auto;
	background-color: transparent;
	text-align: center;
	padding: 2px;
	overflow: auto;
	overflow-y: auto;
	overflow-x: auto;
}

div.trendingwrapper div.card{
	box-shadow: 0 0 2px black;
	margin-top: 10px;
	margin-right: 4px;
	position: relative;
	top:0px;
	display: inline-flex;
 	margin-bottom: 10px;
 	width: 280px;
 	height:400px;
}

div.trendingwrapper div.card:hover{
	cursor: pointer;
	position: relative;
	top:-8px;
	box-sizing: border-box;
	border:1px solid grey;
	display: inline-flex;
 	margin-bottom: 10px;
 	width: 280px;
 	height:400px;
 	box-shadow: 0 0 1px black
}

div.trendingwrapper div.card img{
	width:100%;
	height:150px;
}


div.trendingwrapper div.card a{
	text-decoration: none;
}

div.card-body div.container.coursestatus div.row img{
	width:20px;
	height:20px;
}

div.boxjudul{
	width:80%;
	height:50px;
	border:1px solid black;
	margin-top: -40px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 0 2px black;
}

div.trendingwrapper div.card div.card-body img{
	width:50px;
	height:50px;
	border-radius: 50%;
}


div.konteks{
	margin-top: -49px;
	border: 1px solid white;
	border-radius: 5px;
	background-color: darkgrey;
	text-align: center;
	padding-bottom: 10px;
	box-shadow: 0 0 4px black;
}
div.konteks h1{
	margin-top: 10px;
	color:white;
}

.legend{
	background-color:purple;
	border-radius: 4px;
	padding:1px;
	line-height:40px;
	height:40px;
	width:100%;
	margin:auto;
}

.novice{
	background-color:lightgreen;
	border-radius: 4px;
	padding:1px;
	line-height:40px;
	height:40px;
	width:100%;
	margin:auto;
}

.expert{
	background-color:red;
	border-radius: 4px;
	padding:1px;
	line-height:40px;
	height:40px;
	width:100%;
	margin:auto;
}

.beginner{
	background-color:blue;
	border-radius: 4px;
	padding:1px;
	line-height:40px;
	height:40px;
	width:100%;
	margin:auto;
}

.competent{
	background-color:orange;
	border-radius: 4px;
	padding:1px;
	line-height:40px;
	height:40px;
	width:100%;
	margin:auto;
}

.master{
	background-color:black;
	border-radius: 4px;
	padding:1px;
	line-height:40px;
	height:40px;
	width:100%;
	margin:auto;
}

ul li{
	float:left;
	list-style:none;
}

.hovering{
	animation: hovering 0.1s forwards;
}

.leaving{
	animation: leaving 0.1s forwards;
}

@keyframes hovering{
	
	0%{
		position: relative;
		top:0;
		bottom: 0;
		right:0;
		left:0;
	}

	100%{
		position: relative;
		top:50;
		bottom: 0;
		right: 0;
		left:0;
	}

}