body{
	background-image: url(http://127.0.0.1:8000/static/img/latar.jpg);
}

nav img{
	width:150px;
}

div h1{
	font-family: Quicksand;
	color: white;
	font-size: 100px;
	animation: fadeIn 1s;
}
div h1:hover{
	font-family: Quicksand;
	color: white;
	font-size: 100px;
	opacity: 1;
	cursor: default;
}

div#jumboTag img{
	width:250px;
	border:3px solid white;
	animation: fadeIn 1s;
}

div#jumboTag hr{
	border-width:0.8px;
	border-color: white;
	border-radius:10px;
	width:80%;
	opacity: 0.8;

}

div#jumboTag p{
	font-family: Tahoma;
	color:white;
}

nav div#navbarNav ul li a{
	color:white;
}

@keyframes fadeIn{

	0%{
		transform: rotate(0deg) scale(0, 0);
		opacity: 0;
	}

	100%{
		transform: rotate(360deg) scale(1, 1);
		opacity: 1;
	}

}

div.level{
	width: 100%;
	background-color: white;
	margin:auto;
	text-align: center;
}

div.level div{
	text-align: center;
	margin: auto;
	float: left;
}