{% extends "base.html" %}
{% load static %}


{% block cssOpt %}
	<link rel="stylesheet" href="{% static "css/akun/profile.css" %}">
{% endblock cssOpt %}

{% block konten1 %}
	{% if userProfile.thumbnail %}
		<img src="{{userProfile.thumbnail.url}}" alt="" class="thumbnail">
	{% else %}
		<img src="{% static "img/background.jpg" %}" alt="" class="thumbnail">
	{% endif %}
		<div class="profilecontainer text-center">
			<div class="row">
				<div class="col-sm-3">
					<div class="row">
						<div class="col-sm-6">
							<img src="{{userProfile.foto.url}}" alt="" class="profilepicture">
						</div>
						<div class="col-sm-6">
							<h6>{{userProfile.nama}}</h6>
							<hr>
							<div class="userlevel text-white">
								<small class="mb-5 level">{{userProfile.get_user_level_display}}</small>
							</div>
							<h6 class='mt-3'>{{userProfile.waktu_lahir}}</h6>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="deskripsikanal">
						<p>{{userProfile.deskripsi_kanal}}</p>
					</div>
				</div>
				<div class="col-sm-3">
					<h6>Contact Me:</h6>
					<hr>
					<small>{{userProfile.alamat}}</small>
					<div class="row profilestatus">
						<div class="col-sm-3">
							<img src="{% static "img/facebook.png" %}" alt="">
						</div>
						<div class="col-sm-3">
							<img src="{% static "img/twitter.png" %}" alt="">
						</div>
						<div class="col-sm-3">
							<img src="{% static "img/instagram.png" %}" alt="">
						</div>
						<div class="col-sm-3">
							<img src="{% static "img/linkedin.png" %}" alt="">
						</div><div class="col-sm-3">
							
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="profilestatus bg-dark">
			<div class="row text-center text-white">
				<div class="col-sm-2">
					<img src="{% static "img/user.png" %}" alt="">
					<small>Students</small><br>
					<small>25</small>
				</div>
				<div class="col-sm-2">
					<img src="{% static "img/semuakursus.png" %}" alt="">
					<small>Course</small><br>
					<small>{{userCourse.count}}</small>
				</div>
				<div class="col-sm-2">
					<img src="{% static "img/like.png" %}" alt="">
					<small>Liked</small><br>
					<small>25</small>
				</div>
				<div class="col-sm-2">
					<img src="{% static "img/share.png" %}" alt="">
					<small>Shared</small><br>
					<small>25</small>
				</div>
				<div class="col-sm-2">
					<img src="{% static "img/lovepost.png" %}" alt="">
					<small>Loved</small><br>
					<small>25</small>
				</div>
				<div class="col-sm-2">
					<img src="{% static "img/answer.png" %}" alt="">
					<small>Anwered</small><br>
					<small>25</small>
				</div>
			</div>
		</div>

		<div class="content">
			<div class="row">
				{# GRAPLEARN #}
				<div class="col-sm-8">
					{# Opening video #}
					<div class="openingvideo">
						<div class="text-center">	
							<h2>{{openingVideo.judul}}</h2>
							<video src="{{openingVideo.video.url}}" autoplay="autoplay" controls="true" oncontextmenu="return false"></video>
							<small>{{openingVideo.user.profile.deskripsi_kanal}}</small>
						</div>
					</div>
					<hr>
					{# UserCourse #}
					{% for course in userCourse  %}
						<div class="usercourses text-left">
							<div class="thumbnail">
								<img src="{{course.thumbnail.url}}" alt="">
							</div>
							<div class="coursestatus">
								<p><b>{{course.judul}}</b></p>
								<div class="deskripsi">
									<small>{{course.deskripsi}}</small>
								</div>
								<div class="row text-center">
									<div class="col-sm-4">
										<img src="{% static "img/user.png" %}" alt="">
										<br>
										<small>25</small>
									</div>
									<div class="col-sm-4">
										<img src="{% static "img/like.png" %}" alt="">
										<br>
										<small>25</small>
									</div>
									<div class="col-sm-4">
										<img src="{% static "img/share.png" %}" alt="">
										<br>
										<small>25</small>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
					<div class="clear"></div>
				</div>
				{# ENDGRAPLEARN #}

				{# GRAPPOST #}
				<div class="col-sm-4">
				{% for post in userPost  %}
					<div class="container postingan">
						<div class="container judulpostingan"><h6>{{post.judul}}</h6></div>
						<hr>
						<div class="isipostingan">
							<p>{{post.isi}}</p>	
						</div>
						<div class="status text-center">
							<div class="row">
								<div class="col-sm-6 lovepost">
									<img src="{% static "img/lovepost.png" %}" alt="">
									<small>{{post.like.all.count}} Like</small>
								</div>
								<div class="col-sm-6 comment">
									<img src="{% static "img/comment.png" %}" alt="">
									<small>{{post.comment.all.count}} comment</small>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
				<div class="clear"></div>
				</div>
				{# ENDGRAPPOST #}
			</div>
		</div>
		<hr>

		{# Prestasi / Portofolio #}
		<div class="prestasi">
			<h4 class="bg-info">Penghargaan</h4>
			<ul class="list-group text-left">
			  <li class="list-group-item">Cras justo odio</li>
			  <li class="list-group-item">Dapibus ac facilisis in</li>
			  <li class="list-group-item">Morbi leo risus</li>
			  <li class="list-group-item">Porta ac consectetur ac</li>
			  <li class="list-group-item">Vestibulum at eros</li>
			</ul>
		</div>
		<hr>
		{# Testimoni #}
		<div class="container testimoni text-center">
			<h4 class="bg-info mb-5">Testimoni</h4>
			<div class="row">
				{% for testi in testimoni  %}
						<div class="col-sm-3">
							<div class="userprofile">
								<div class="row">
									<div class="col-sm-6">
										<img src="{{testi.sender_user.profile.foto.url}}" alt="">
									</div>
									<div class="col-sm-6">
										<h6>{{testi.sender_user.username}}</h6>
										<div class="userlevel">
											<small class='level'>{{testi.sender_user.profile.get_user_level_display}}</small>
										</div>
									</div>
								</div>
							</div>
							<hr>
							<small>{{testi.testimoni}}</small><br>
							<small class='text-muted'>{{testi.published}}</small>
						</div>
				{% endfor %}
			</div>
		</div>

		<br>
		<br>
		<br>
{% endblock konten1 %}

{% block scriptsOpt %}
	<script src="{% static "js/akun/profile.js" %}"></script>
{% endblock scriptsOpt %}