{% extends "base.html" %}
{% load static %}

{% block cssOpt %}
	<link rel="stylesheet" href="{% static "css/graplearn/commentvideo.css" %}">
{% endblock cssOpt %}

{% block header %}
	<div class="container">
		<h4>{{jumboTag}}</h4>
	</div>
{% endblock header %}

{% block konten1 %}
	<div class="container video">
		<video src="{{video.video.url}}" controls oncontextmenu="return false"></video>
	</div>
	<div class="container form">
		<form method='POST'>
			{% csrf_token %}
			{{commentForm}}
			<button type="Submit" class="btn btn-primary">Kirim</button>
		</form>
	</div>
{% endblock konten1 %}