#profilesection{
	background-color:#E9E9E9;
	border: 1px solid grey;
	border-radius: 10px;
	box-shadow: 0 0 2px black;
	height:370px;
}


#coursesection{
	background-color:white;
	box-shadow: 0 0 2px black;
	border: 1px solid #4A65AD;
	border-radius: 10px;
	opacity: 0.95;
}

#coursesection:hover{
	background-color:white;
	box-shadow: 0 0 2px black;
	border: 1px solid grey;
	border-radius: 10px;
	opacity: 1;
}

div#coursesection h2{
	font-family: Quicksand;
}

div#profilesection h2{
	font-family: Quicksand;
}

div.userprofile img{
	width:150px;
	height: 150px;
	border-radius: 50%;
	border:1px solid white;
}

div.bordercontainer{
	background-color:transparent;
	height:380px;
	width:2px;
}

div.container.coursedemo{
	background-color: white;
	margin: auto;
	margin-top: 30px;
	width:100%;
	border:1px solid grey;
	box-shadow: 0 0 2px black;
	border-radius: 5px;
	padding:15px;
	height: 350px;
	overflow: auto;
}

div.container.coursedemo div.videodemo video{
	width:100%;
	border:1px solid white;
	box-shadow: 0 0 2px black;
}

div.container.coursedemo div.videoempty{
	border:1px solid white;
	box-shadow: 0 0 2px black;
	line-height: 150px;
	text-align: center;
	width:100%;
	height:150px;
	background-color: grey;
	padding:10px;
}

div.container.coursedemo div.videoempty h6{
	color:white;
}

div.container.coursedemo div.videoempty img{
	margin-top: -75px;
	width:40px;
	height: 40px;
}

div.detailcourse h1{
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}

div.userprofile div.boxlevel{
	background-color:white;
	width:35%;
	margin:auto;
	height:25px;
	border:1px solid white;
	border-radius: 5px;
	box-shadow: 0 0 2px black
}
div.userprofile div.boxlevel small{
	color: white;
	font-family: Segoe UI;
	line-height: 25px;
}

div.detailcourse{
	text-align: center;
}

div.coursestatus{
	text-align: center;
}

div.coursestatus img{
	width:35px;
	height:35px;
}

div#coursesection div.detailcourse img{
	width:100%;
	height:300px;
}

div.harga{
	background-color: lightgreen;
	border-radius: 10px;
	padding:5px;
	margin-bottom: 10px;
	position: relative;
	border:1px solid white;
	box-shadow: 0 0 1px black
}

div.harga img{
	width: 25px;
	height:25px;
}

.clear{
	clear: both;
}

div.container.videocourses{
	margin-top: 15px;
}

div.container.videocourses div.container.video{
	background-color: white;
	padding:20px;
	margin:auto;
	margin-top: 15px;
	border:1px solid black;
	box-shadow: 0 0 2px black;
}

div.container.videocourses div.container.video img{
	width:25px;
	height: 25px;
}

div.container.videocourses div.container.video video{
	border:1px solid white;
	margin: auto;
	margin-top: 5px;
	box-shadow: 0 0 2px black;
	width:100%;
	cursor: pointer;
}