div.container.null-course{
	margin:auto;
	padding:10px;
	border-radius: 7px;
}

div.container.courseadscontainer{
	align-items: center;
	align-content: center;
}

div.card.courseads{
}

div.card.courseads:hover{
	border:none;
	box-shadow: none;
	cursor:pointer;
}

div.card.courseads img.verified{
	width:35px;
	height: 35px;
	position: absolute;
	top:3px;
	left:7px;
	z-index: 10;
}

div.card.courseads:hover img.verified{
	animation:verifiedShow .3s forwards;
}

@keyframes verifiedShow{
	0%{
		height:35px;
		width:35px;
	}

	100%{
		height:50px;
		width:50px;
	}
}

div.nama img.verifieduser{
	width:20px;
	height:20px;
}

div.nama small.verified-text{
	font-size: 1px;
	color:black;
}

div.nama{
	margin:7px;
	position: relative;
}

div.wrapper-all-course{
	position: relative;
}

div.all-course{
	width:85%;
	margin:auto;
	position: relative;
	left:90px;
}

.filterindex{
	margin-top: 20px;
}
.card{
	display: block;
	width:250px;
	float: left;
	margin:10px;
	opacity: 0.9;
	position: relative;
}
.card:hover{
	box-sizing: border-box;
	box-shadow: 0 0 1px white;
	border:1px solid black;
	opacity:1;
}

.card img{
	width:100%;
	height:165px;

}

div.card a{
	text-decoration: none;
	color:inherit;
}

div.container.course{
	width:100%;
	text-align: center;
}

.container.course a{
	text-decoration: none;
	color:none;
}

.card-body{
	position: relative;
}

.card .judul{
	background-color: white;
	margin-top: -50px;
	width:95%;
	height:50px;
	border:1px solid #ddd;
	border-radius: 5px;
	text-align: center;
	position: relative;
	box-shadow: 0 0 2px #ddd
}

.fotoprofile img{
	width:60px;
	height:60px;
	border-radius: 50%;
}


.profilecontainer .row{
	margin-top: -10px;
	margin-bottom: -10px;
}

.profilecontainer{
	margin-top: -10px;
}

div.deskripsi{
	padding: 2px;
	margin-top: -10px;
	border: 1px solid #ddd;
	height:60px;
	overflow: auto;
}

div.coursestatus img{
	width:25px;
	height:25px;
}

div.coursestatus small{
	color:black;
}

button.liketoggle{
	margin-bottom: 5px;
	position: relative;
	z-index: 50;
}

.legend{
	background-color:purple;
	border-radius: 4px;
	padding:1px;
	line-height:40px;
	height:40px;
	width:100%;
	margin:auto;
}

.novice{
	background-color:lightgreen;
	border-radius: 4px;
	padding:1px;
	line-height:40px;
	height:40px;
	width:100%;
	margin:auto;
}

.expert{
	background-color:red;
	border-radius: 4px;
	padding:1px;
	line-height:40px;
	height:40px;
	width:100%;
	margin:auto;
}

.beginner{
	background-color:blue;
	border-radius: 4px;
	padding:1px;
	line-height:40px;
	height:40px;
	width:100%;
	margin:auto;
}

.competent{
	background-color:orange;
	border-radius: 4px;
	padding:1px;
	line-height:40px;
	height:40px;
	width:100%;
	margin:auto;
}

.master{
	background-color:black;
	border-radius: 4px;
	padding:1px;
	line-height:40px;
	height:40px;
	width:100%;
	margin:auto;
}

small{
	color:white;
}

.clear{
	clear: both;
}

div.pagination{
	margin: auto;
	background-color: #1264AE;
	padding: 5px;
	color:white;
	margin-top: 10px;
}