div.container.course{
	background-color: white;
	padding:10px;
	border:1px solid white;
	box-shadow: 0 0 2px black;
}
div.container.course img{
	width:100%;
	height: 350px;
	border:1px solid white;
	box-shadow: 0 0 2px black;
}

div.container.course div.judul{
	width:80%;
	border:1px solid white;
	box-shadow: 0 0 2px black;
}

div.container.course div.status img{
	width:35px;
	height:35px;
	border:none;
	box-shadow: none;
	margin: auto;
}

div.container.course div.status{
	width:100%;
	margin-top: 15px;
	background-color: transparent;
}

div.container.currentvideo{
	padding: 10px;
	height: 200px;
	overflow: auto;
}