{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block konten1 %}
	<div class="container">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{postForm|crispy}}
			<br>
			<button type="submit" class="btn btn-primary">Post</button>
		</form>
	</div>
{% endblock konten1 %}

{% block scriptsOpt %}
	<script>
		// $(document).ready(function(){
		// 	$('#id_file').attr('enctype','multipart/form-data')
		// 	console.log(document.getElementById('id_file'))
		// });
	</script>
{% endblock scriptsOpt %}