div div div h3{
	color:white;
	font-family: Montserrat
}

/* div.profilecontainer{
	position: relative;
	background-color:#777;
	border-radius: 4px;
	border: 1px solid #ddd;
	text-align: center;
	box-shadow: 0 0 2px black;
} */

/* Bagian Profile */

div.addbannerbutton{
	padding: 10px;
}

div.banner{
	position: relative;
}

span.setting{
	position: absolute;
	bottom: 5px;
	background:white;
	padding:10px;
	border:2px solid orange;
/* 	width:30px;
	height:15px; */
	border-radius:7px;
}

span.followtoggle{
	position: absolute;
	bottom: 5px;
	padding:10px;
	border:2px solid white;
/* 	width:30px;
	height:15px; */
	border-radius:7px;
	text-decoration: none;
	cursor: pointer;
}

img.thumbnail{
	height:250px;
	width:100%;
}

div.profilecontainer{
	width:100%;
	background-color:#ddd;
	padding:10px;
}

div.deskripsikanal{
	display: table-cell;
	vertical-align: middle;
}

div.deskripsikanal p{
	font-family:"Segoe UI";
}

div.profilestatus{
	padding:10px;
}

img.coin{
	width:25px;
	margin-left: 10px;
}

div.profilestatus div.row img{
	width:30px;
}

div.profilecontainer div.row.status img{
	width:50px;
	height:50px;
}

div.row.profilestatus{
	margin-top: 35px;
}

div.profilecontainer div.row.profilestatus img{
	width:25px;
	height:25px;
}

div.content div.openingvideo{
	padding:25px;
}

div.ganti{
	position: relative;
}

span.tombol-ganti{
	position: absolute;
	top:8px;
	left:8px;
	padding: 5px;
	border-radius: 7px;
	color:white;
	background-color:lightgrey;
	transform: scale(0,0);
}

@keyframes showUpButton{
	0%{
		transform: scale(0, 0);
	}
	100%{
		transform: scale(1,1);
	}
}

div.ganti:hover span.tombol-ganti{
	animation: showUpButton .3s forwards;
}

div.content div.openingvideo video{
	width:100%;
	border:1px solid white;
	box-shadow: 0 0 2px black;
	box-sizing: border-box;
}

div.content div.openingvideo h2{
	display:block;
	color:white;
	background: #1264AE;
	padding: 10px;
	border-radius: 5px;
	margin-top: -17px;
}

div.video-container{
	position: relative;
}
div.video-control-bar{
	background-color: lightgrey;
	position: absolute;
	bottom: 4px;
	width:100%;
	opacity: 0;
	border-radius:7px;
	margin:3px auto;
}


video::-webkit-media-controls {
  display:none !important;
}

div.video-container:hover div.video-control-bar{
	opacity: 1;
}

div.usercourses{
	width:210px;
	height:210px;
	margin:10px;
	float:left;
	background-color: transparent;
	text-align: center;
	align-items: center;
}

a.link-detailcourse{
	text-decoration: none;
	color:inherit;
}

div.usercourses small{
	text-align: left;
}

div.thumbnail{
	width:100%;
	height:100px;
}

div.usercourses img{
	width:100%;
	height: 100%;
	background-color: grey;
}

div.deskripsi{
	margin-top: -18px;
	height:50px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word; 
}

div.usercourses div.coursestatus{
	padding: 1px
}
div.usercourses div.coursestatus div.row img{
	background-color: transparent;
	width:25px;
	height:25px;
}

div.judulpostingan{
	height:50px;
	position: relative;
}

div.judulpostingan small.published{
	position: absolute;
	bottom: -15px;
}

div.status img.lovepost:hover{
	cursor: pointer;
	animation: hoverLoveButton .2s forwards
}

@keyframes hoverLoveButton{
	0%{
		height:20px;
		width:20px;
	}

	100%{
		height:30px;
		width:30px;
	}
}

div.postingan{
	width:230px;
	height:300px;
	background-color:white;
	margin-top:10px;
	padding:10px;
	border:1px solid white;
	box-shadow: 0 0 2px black;
	float: left;
	margin-right:10px;
	position: relative;
}

div.postingan div.isipostingan{
	height: 165px;
	overflow: auto;
}

div.postingan img{
	width:20px;
	height:20px;
}

div.prestasi{
	width:90%;
	margin:auto;
	margin-top: 10px;
	text-align: center;
	height: 500px;
	overflow: auto;
}

img.prestasiimg{
	width:25%;
}

h4.judul{
	text-align: center;
	display: inline-block;
	background-color: blue;
	padding: 10px;
	color:white;
	border-radius: 7px;
}

h4.judul-flix{
	border-radius: 7px;
	color:white;
	text-align: center;
	width:150px;
	margin:auto;
	margin-top:5px;
	padding:10px;
}

.karya-file{
	width:70%;
}

.karya-file-video{
	width:100%;
}

div.testimoni{
	margin-top: 30px;
}

div.testimoni img{
	width:70px;
	height: 70px;
	border-radius: 50%;
	border:1px solid white;
	box-shadow: 0 0 2px black;
}

div.form-testimoni{
	width:90%;
	margin:auto;
}

/* Border */

div.coin img{
	width: 25px;
	height: 25px;
}

div.setting{
	text-align: center;
	float: left;
	margin-top: 14px;
	width:75px;
	height:30px;
	background-color: white;
	border:1px solid black;
	border-radius: 4px;
	box-shadow: 0 0 1px black;
}
div.setting:hover{
	box-sizing: border-box;
	cursor: pointer;
	margin-top: 14px;
	width:75px;
	height:30px;
	background-color: white;
	border:1px solid orange;
	border-radius: 4px;
	box-shadow: 0 0 1px black;
}

div.setting small{
	color:lightgrey;
}

.profilepicture{
	border:1px solid white;
	border-radius:50%;
	height: 150px;
	width:150px;
}

/* div.profilecontainer p{
	font-family: Quicksand;
	color:white;
	font-size: 20px;
} */

div.profilecontainer h5{
	color:white;
}

hr{
	width:85%;
}

div.profileindex div.biodata{
	margin-top: 20px;
	background-color: white;
	border:1px solid #aaa;
	border-radius: 4px;
	padding:20px;
	text-align: center;
	box-shadow: 0 0 2px black;
}

div.card{
	position: relative;
	margin-top: 12px;
}

div.card:hover{
	border:1px solid grey;
	box-shadow: 0 0 2px black;
}

div.mycourses{
	background-color: white;
	border:1px solid black;
	padding:5px;
}

div.mycourses a{
	text-decoration: none;
	color: inherit;
}

div.judul{
	margin-top: 10px;
	background-color: #1264DF;
	border-radius: 3px;
	padding: 5px;
	margin-bottom: 15px;
	color:white;
	text-align: center;
}

div.judul h2{
	font-family: Quicksand;
	color:white;
}

div.card img{
	margin-top: 5px;
	width:100%;
	height:150px;
}

div.card div.judul{
	position: relative;
	top:0;
	margin:auto;
	margin-top: -20px;
	width:80%;
	background-color: white;
	border:1px solid black;
	box-shadow: 0 0 1px 1px black
}

div.mycourses div.card div.card-body{
	margin-top: -25px;
}

div.mycourses div.coursestatus{
	margin-top: -5px
}

div.mycourses div.coursestatus img{
	width:25px;
	height: 25px;
}

div.usercourse{
	margin-top: 20px;
	background-color: transparent;
	text-align: center;
	width:100%;
}

div.usercourse h5{
	color:black;
}

div.usercourse div.container{
	border-radius: 5px;
	margin-top: 15px;
	margin-left:20px;
	width:100%;
/* 	height:350px; */
	background-color: #DBDEDF;
	margin-left: -10px;
	box-shadow: 0 0 2px black;
	opacity: 0.9;
}

div.usercourse div.container:hover{
	background-color: white;
	opacity: 1;
	cursor:pointer;
}


div.container.pendidikan{
	margin-top: 10px;
	background-color: white;
	border-radius:4px;
	border:1px solid black;
	box-shadow:0 0 2px black
}

div.container.pendidikan li{
	list-style-type: none;
}

div.profileindex div.coursesprofile{
	width:100%;
	height: 95%;
	background-color: white;
	padding: 10px;
}

div.profileindex div.coursesprofile img{
	height:35px;
	width:35px;
	margin-top: 10px;
	margin-bottom: 10px;
}

div.container.course div.row.coursedescription img{
	width:100px;
	height:100px;
	border-radius: 50%;
	border: 1px solid white;
}

div.container.course div.row.coursedescription div.col-sm-8 img{
	width:25px;
	height:25px;
	border:none;
}

div.container.course div.row.courseprofile img{
	width:25px;
	height:25px;
}

div.clear{
	clear: both;
}

div.mycourses div.profile img{
	width:75px;
	height: 75px;
	border-radius: 50%;
}

div.userlevel{
	color:white;
}

.legend{
	background-color:purple;
	border-radius: 4px;
	padding:1px;
	line-height:40px;
	height:40px;
	width:100%;
	margin:auto;
}

.novice{
	background-color:lightgreen;
	border-radius: 4px;
	padding:1px;
	line-height:40px;
	height:40px;
	width:100%;
	margin:auto;
}

.expert{
	background-color:red;
	border-radius: 4px;
	padding:1px;
	line-height:40px;
	height:40px;
	width:100%;
	margin:auto;
}

.beginner{
	background-color:blue;
	border-radius: 4px;
	padding:1px;
	line-height:40px;
	height:40px;
	width:100%;
	margin:auto;
}

.competent{
	background-color:orange;
	border-radius: 4px;
	padding:1px;
	line-height:40px;
	height:40px;
	width:100%;
	margin:auto;
}

.master{
	background-color:black;
	border-radius: 4px;
	padding:1px;
	line-height:40px;
	height:40px;
	width:100%;
	margin:auto;
}
