{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{judul}}</title>
	{% include "snippets/styles.html" %}
	<link rel="shortcut icon" type="image/png" href="{% static "img/trending.png" %}"/>
	{% block cssOpt %}
		
	{% endblock cssOpt %}
</head>
<body>
	{# Navbar #}
<section>
	{% include "snippets/navbar.html" %}
</section>
{# Messages #}
	{% if messages %}
		{% for message in messages %}
			<div class='alert-info mt-5'><h2>{{message}}</h2></div>
		{% endfor %}	
	{% endif %}


{# Header #}
	{% block header %}
	
	{% endblock header %}	
	{% block graplearnAdv %}
		
	{% endblock graplearnAdv %}


{# Konten1 #}
	{% block konten1 %}
		
		
	{% endblock konten1 %}
	

	
{% include "snippets/scripts.html" %}
{% block scriptsOpt %}
		
{% endblock scriptsOpt %}
</body>
</html>