{% extends "base.html" %}
{% load static %}

{% block cssOpt %}
	<link rel="stylesheet" href="{% static "css/style.css" %}">
{# 	<link rel="stylesheet" href="{% static "css/akun/profile.css" %}"> #}
{% endblock cssOpt %}

{% block header %}
<div class="wrapper">	
	<div class="container mt-4 text-center header" id='jumboTag'>
			<img src="{% static "img/logo.png" %}" alt="">
			<br>
			<div class="jumboTagWrapper">
				<h1 class="mt-4">{{jumboTag}}</h1>
			</div>
			<hr>
			<h2>Grappler is the largest online learning website on Indonesia</h2>
	</div>
	<div class="row beneficial mt-5">
		<div class="col-sm-4">
			<div class="container">
				<img src="{% static "img/semuakursus.png" %}" alt="">
				<h5>Kursus sangat Lengkap!</h5>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="container">
				<img src="{% static "img/savingmoney.png" %}" alt="">
				<h5>Banyak Diskon!</h5>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="container">
				<img src="{% static "img/terpercaya.png" %}" alt="">
				<h5>Kursus Terpercaya!</h5>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
	
{% endblock header %}

{% block konten1 %}
<div class="konteks">
	<h1>Whats on Trending ?</h1>
	<p>Buruan Pelajari!</p>
	<hr>
	<div class="trendingwrapper">
			<div class="wrapperarea">
				{% for course in trendingCourses  %}
				<a href="{% url "graplearn:detailcourse" course.id %}">
					<div class="card">
							<img src="{{course.thumbnail.url}}" alt="">
							<div class="card-body">
								<div class="container boxjudul">
									<h5>{{course.judul}}</h5>
								</div>
								<div class="container coursestatus">
									<div class="row">
										<div class="col-sm-4">
											<img src="{% static "img/view.png" %}" alt="">
											<small>{{course.view}}</small>
										</div>
										<div class="col-sm-4">
											<img src="{% static "img/like.png" %}" alt="">
											<small>{{course.like}}</small>
										</div>
										<div class="col-sm-4">
											<img src="{% static "img/share.png" %}" alt="">
											<small>{{course.share}}</small>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-6">
										<img src="{{course.user.profile.foto.url}}" alt="">
									</div>
									<div class="col-sm-6">
										<div class="container">
											<a href="{% url "akun:otherprofile" course.user.id %}"><h6>{{course.user}}</h6></a>
											<div class="text-white container boxlevel">
												<small>{{course.user.profile.get_user_level_display}}</small>
											</div>
										</div>
									</div>
								</div>
								<hr>
								<div class="container deskripsi">
									<p>{{course.deskripsi}}</p>
								</div>
							</div>
					</div>
				</a>
				{% endfor %}
				<div class="clear"></div>
			</div>
	</div>
</div>
{% endblock konten1 %}
{% block scriptsOpt %}
	<script src="{% static "js/graplearn/index.js" %}"></script>
	<script src="{% static "js/home.js" %}"></script>
{% endblock scriptsOpt %}