{% extends "base.html" %}
{% load static %}

{% block cssOpt %}
	<link rel="stylesheet" href="{% static "css/akun/profile.css" %}">
	<link rel="stylesheet" href="{% static "css/graplearn/detailcourse.css" %}">
{% endblock cssOpt %}

{% block konten1 %}
	<div class="container profilepage">
		<div class="row">
			{# Kolom Untuk Profile #}
			<div class="col-sm-4" id='profilesection'>
				<div class="container">
					<div class="row">
						<div class="col-sm-12 mt-2 text-center">
							<h2>Profile</h2>
						</div>
					</div>
					<hr>
					<div class="container userprofile text-center">
						<img src="{{detailCourse.user.profile.foto.url}}" alt="">
						<h4><a href="{% url "akun:otherprofile" detailCourse.user.id %}">{{detailCourse.user.profile.nama}}</a></h4>
						{% if detailCourse.user.profile.verified %}
							<img src="{% static "img/verified.png" %}" alt="" class="verifieduser">
							<small class="text-muted">Verified</small>
						{% endif %}
						<div class="userlevel text-white">
							<small class="mb-5 level">{{detailCourse.user.profile.get_user_level_display}}</small>
						</div>
						<hr>
						<p>{{detailCourse.user.profile.bio}}</p>
					</div>
				</div>
				<div class="container coursedemo">
					<div class="videodemo">
						<h6>Ulasan Kursus</h6>
						{% if demovid %}
							<video src="{{demovid.video.url}}" oncontextmenu="return false" controls=""></video>
						{% else %}
							<div class="container videoempty">
								<h6>Ga ada rangkuman Course, Mungkin video ini spesial :)</h6>
								<img src="{% static "img/empty.png" %}" alt="">
							</div>
						{% endif %}
					</div>
					<div class="container judul mt-3"><h6>Apa aja yang akan dipelajari</h6></div>
					<div class="container">
						<ul class="list-group">
						{% for video in videoDescript  %}
						  <li class="list-group-item">{{video}}</li>	
						{% endfor %}
						</ul>
					</div>
				</div>
			</div>

			<div class="col-sm-1">
				<div class="container bordercontainer"></div>
			</div>

			{# Kolom untuk Course Detail #}
			<div class="col-sm-7" id='coursesection'>
				<div class="detailcourse">
					<h1>{{detailCourse.judul}}</h1>
					<hr>
					<img src="{{detailCourse.thumbnail.url}}" alt="">
				</div>
				<hr>
				<div class="coursestatus">
					<div class="row">
						<div class="col-sm-3">
							<img src="{% static "img/user.png" %}" alt="">
							<h5>{{detailCourse.coursestatus.student.all.count}}</h5>
							<small>Student</small>
						</div>
						<div class="col-sm-3">
							<img src="{% static "img/like.png" %}" alt="">
							<h5>{{detailCourse.coursestatus.like.count}}</h5>
							<small>Liked</small>
						</div>
						<div class="col-sm-3">
							<img src="{% static "img/share.png" %}" alt="">
							{% if complainCourse %}
								<h5>{{complainCourse}}</h5>
							{% else %}
								<h5>0</h5>
							{% endif %}
							<small>Reviewed</small>
						</div>
						<div class="col-sm-3">
							<img src="{% static "img/course.png" %}" alt="">
							<h5>{{videoCoursesCount}}</h5>
							<small>Video</small>
						</div>
					</div>
					<hr>
					<p>{{detailCourse.deskripsi}}</p>
					<p>Diterbitkan : {{detailCourse.published}}</p>
					{% if authUser %}
						<a href="{% url "graplearn:addvideocourse" detailCourse.id %}"><button class="btn btn-primary">+ Video</button></a>
						<a href="{% url "graplearn:updatecourse" detailCourse.id %}"><button class="btn btn-warning">Setting</button></a>
						<button class="btn btn-danger delete-button" url="{% url "graplearn:deletecourse" detailCourse.id %}">Hapus</button>
					{% endif %}
					{% if detailCourse in userCourses and not authUser %}
						<a href="{% url "graplearn:complain" detailCourse.id %}"><button class="btn btn-danger">Review</button></a>
					{% if alreadycomplain %}
							<br>
							<small>{{alreadycomplain}}</small>
					{% endif %}
					{% endif %}
					<hr>
					<div class="row">
						<div class="col-sm-6">
							<small>Kategori</small>
							<h5>{{detailCourse.kategori}}</h5>
						</div>
						<div class="col-sm-6">
							{% if not detailCourse in userCourses %}
								<div class="harga" url="{% url "graplearn:buycourse" detailCourse.id %}">
									<img src="{% static "img/coin.png" %}" alt="">
										<h5>{{detailCourse.harga}}</h5>
									<div class="clear"></div>
								</div>
							{% else %}
								<div class="terbeli" url="{% url "graplearn:buycourse" detailCourse.id %}">
									<img src="{% static "img/coin.png" %}" alt="">
									{% if detailCourse.user == user %}
										<h5>Ini adalah kursus anda</h5>
									{% else %}
										<h5>kamu sudah membeli course ini</h5>
									{% endif %}
									<div class="clear"></div>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container videocourses">
		{% for video in videoCourses  %}
		<div class="container video">
			<h4>{{video.judul}}</h4>
			<hr align="left" width="25px">
			<div class="video-container text-left">
				<video src="{{video.video.url}}" oncontextmenu="return false" class="openingvideo"></video>
				<div class="video-control-bar">
					<button class="btn-sm btn-primary">Play</button>
					<input class="seekslider custom-range" type="range" min="0" max="100" value="0" step="0.1" style="width:70%;">
					<span class="ml-3 current-time-text"></span> / <span class="duration-time-text"></span>
					<input class="volumeslider custom-range ml-3" type="range" min="0" max="100" value="100" step="0.1" style="width:80px;">
					<button class="btn-sm btn-info ml-3 fullscreen">[&nbsp;]</button>
				</div>
			</div>
			<div class="deskripsi mt-2">
				<h6>Deskripsi</h6>
				<p>{{video.deskripsi}}</p>
				<hr>
				<h6>Referensi</h6>
				<p>{{video.referensi}}</p>
				<div class="comment">
					<img src="{% static "img/comment.png" %}" alt="">
					<small>245 comments</small>
				</div>
			</div>
			{% if authUser %}
				<div class="pengaturan">
					<a href="{% url "graplearn:updatevideocourse" video.id %}"><button class="btn-sm btn-warning">Ubah</button></a>
					<button class="btn-sm btn-danger deletevideo" url="{% url "graplearn:deletevideocourse" video.id %}">Hapus</button>
				</div>
			{% endif %}
		</div>
		{% endfor %}
	</div>
{% endblock konten1 %}

{% block scriptsOpt %}
	<script src="{% static "js/akun/profile.js" %}"></script>
	<script>
		$(document).ready(function(){
			const tombolHapus = $('button.delete-button')
			tombolHapus.on('click',function(){
				Swal.fire({
				  title: 'Anda yakin akan menghapus serial ini?',
				  text: "Kamu akan kehilangan apapun yang berkaitan dengan kursus ini",
				  type: 'warning',
				  showCancelButton: true,
				  confirmButtonColor: '#3085d6',
				  cancelButtonColor: '#d33',
				  confirmButtonText: 'Hapus',
				  cancelButtonText:'Tidak jadi',
				}).then((result) => {
				  if (result.value) {
				    Swal.fire(
				      'Deleted!',
				      'Your file has been deleted.',
				      'success'
				    )
				  	window.location.href=$(this).attr('url')
				  }
				})
			});

			const tombolBeli = $('div.harga')
			tombolBeli.on('click',function(){
				Swal.fire({
				  title: 'Anda yakin akan membeli serial kursus dengan judul "{{detailCourse.judul}}" ini?',
				  text:"Harga kursus ini adalah {{detailCourse.harga}} Koin",
				  type: 'info',
				  showCancelButton: true,
				  confirmButtonColor: '#3085d6',
				  cancelButtonColor: '#d33',
				  confirmButtonText: 'Beli',
				  cancelButtonText:'Tidak jadi',
				}).then((result) => {
				  if (result.value) {
				  	window.location.href=$(this).attr('url')
				  }
				})
			})

			const deleteVideo = $('button.deletevideo')
			console.log(deleteVideo)
			deleteVideo.on('click',function(){
				Swal.fire({
				  title: 'Anda yakin akan menghapus video ini?',
				  type: 'info',
				  showCancelButton: true,
				  confirmButtonColor: '#d33',
				  cancelButtonColor: '#3085d6',
				  confirmButtonText: 'Hapus',
				  cancelButtonText:'Tidak jadi',
				}).then((result) => {
				  if (result.value) {
				  	window.location.href=$(this).attr('url')
				  }
				})
			})

		});
	</script>
{% endblock scriptsOpt %}